@model ArthausWebStore.ViewModels.HomeViewModel

@using ArthausWebStore.Models.Repositories;


@{
    ViewData["Title"] = "Arthaus - Home";

    var newProducts = Model.NewProducts.TakeLast(4).ToList();
    var bestSellers = Model.BestSellingProducts.TakeLast(4).ToList();
    var mostViews = Model.MostViewedProducts.TakeLast(4).ToList();
    var discountProducts = Model.DiscountedProducts.TakeLast(4).ToList();

    var itemPrices = Model.ItemPrices.ToList();
}
@await Html.PartialAsync("../Home/MainMenu.cshtml")
@await Html.PartialAsync("../Home/Slider.cshtml")
@await Html.PartialAsync("../Products/FeaturedMainProducts.cshtml")

<!-- PRODUCT-AREA START -->
@await Html.PartialAsync("../Products/DiscountAreaProducts.cshtml")
<!-- PURCHASE-ONLINE-AREA START -->
<div class="purchase-online-area pt-80 product-style-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h2 class="title-border">Purchase Online on Arthas</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12  text-center">
                <!-- Nav tabs -->
                <ul class="tab-menu clearfix">
                    <li class="active"><a href="#new-arrivals" data-toggle="tab">New Arrivals</a></li>
                    <li><a href="#best-seller" data-toggle="tab">Best Seller </a></li>
                    <li><a href="#most-view" data-toggle="tab">Most View </a></li>
                    <li><a href="#discounts" data-toggle="tab">Discounts</a></li>
                </ul>
            </div>
            <div class="col-lg-12">
                <!-- Tab panes --><div class="tab-content">
                    <div class="tab-pane active" id="new-arrivals">
                        <div class="row">
                            @foreach (var item in newProducts)
                            {
                                <!-- Single-product start -->
                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <span class="pro-label new-label">new</span>
                                            <span class="pro-price-2">
                                                @await Common.ReturnAppliedPrice(item.No)
                                            </span>
                                            <a href="single-product.html"><img src="@Common.ReturnPicture(item.No,PictureSizes.Thumbnail)" alt="" asp-append-version="true" /></a>
                                        </div>
                                        <div class="product-info clearfix text-center">
                                            <div class="fix">
                                                <h4 class="post-title"><a href="#">@item.Description2</a></h4>
                                            </div>
                                            <div class="fix">
                                                <span class="pro-rating">
                                                    <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                    <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                    <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                    <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                                    <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                                </span>
                                            </div>
                                            <div class="product-action clearfix">
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a>
                                                <a asp-controller="Home" asp-action="QuickView" asp-route-ItemSKU=@item.No data-target="#productModal" data-toggle="modal" title="Quick View"><i class="zmdi zmdi-zoom-in"></i></a>
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <!-- Single-product end -->
                        </div>
                    </div>
                    <div class="tab-pane" id="best-seller">
                        <div class="row">
                            @foreach (var item in bestSellers)
                            {
                                <!-- Single-product start -->

                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <span class="pro-label new-label">best buy</span>
                                            <span class="pro-price-2">@await Common.ReturnAppliedPrice(item.No)</span>
                                            <a href="single-product.html"><img src="@Common.ReturnPicture(item.No,PictureSizes.Thumbnail)" alt="" asp-append-version="true" /></a>
                                        </div>
                                        <div class="product-info clearfix text-center">
                                            <div class="fix">
                                                <h4 class="post-title"><a href="#">@item.Description2</a></h4>
                                            </div>
                                            <div class="fix">
                                                <span class="pro-rating">
                                                    <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                    <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                    <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                    <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                                    <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                                </span>
                                            </div>
                                            <div class="product-action clearfix">
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a>
                                                <a asp-controller="Home" asp-action="QuickView" asp-route-ItemSKU=@item.No data-target="#productModal" data-toggle="modal" title="Quick View"><i class="zmdi zmdi-zoom-in"></i></a>
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single-product end -->
                            }
                        </div>
                    </div>
                    <div class="tab-pane" id="most-view">
                        <div class="row">

                            <!-- Single-product start -->
                            @foreach (var item in mostViews)
                            {
                                <!-- Single-product start -->

                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <span class="pro-label offer-label">featured</span>
                                            <span class="pro-price-2">@await Common.ReturnAppliedPrice(item.No)</span>
                                            <a href="single-product.html"><img src=@Common.ReturnPicture(item.No,PictureSizes.Thumbnail) alt="" asp-append-version="true" /></a>
                                        </div>
                                        <div class="product-info clearfix text-center">
                                            <div class="fix">
                                                <h4 class="post-title"><a href="#">@item.Description2</a></h4>
                                            </div>
                                            <div class="fix">
                                                <span class="pro-rating">
                                                    <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                    <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                    <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                    <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                                    <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                                </span>
                                            </div>
                                            <div class="product-action clearfix">
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a>
                                                <a asp-controller="Home" asp-action="QuickView" asp-route-ItemSKU=@item.No data-target="#productModal" data-toggle="modal" title="Quick View"><i class="zmdi zmdi-zoom-in"></i></a>                           
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single-product end -->
                            }
                        </div>
                    </div>
                    <div class="tab-pane" id="discounts">
                        <div class="row">
                            <!-- Single-product start -->
                            @foreach (var item in discountProducts)
                            {
                                <!-- Single-product start -->

                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <span class="pro-label sale-label">sale</span>
                                            <span class="pro-price-2">@await Common.ReturnAppliedPrice(item.No)</span>
                                            <a href="single-product.html"><img src="@Common.ReturnPicture(item.No,PictureSizes.Thumbnail)" alt="" asp-append-version="true" /></a>
                                        </div>
                                        <div class="product-info clearfix text-center">
                                            <div class="fix">
                                                <h4 class="post-title"><a href="#">@item.Description2</a></h4>
                                            </div>
                                            <div class="fix">
                                                <span class="pro-rating">
                                                    <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                    <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                    <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                    <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                                    <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                                </span>
                                            </div>
                                            <div class="product-action clearfix">
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a>
                                                <a asp-controller="Home" asp-action="QuickView" asp-route-ItemSKU=@item.No data-target="#productModal" data-toggle="modal" title="Quick View"><i class="zmdi zmdi-zoom-in"></i></a>
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single-product end -->
                            }
                            <!-- Single-product end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- PURCHASE-ONLINE-AREA END -->

@await Html.PartialAsync("../Home/BlogAreaView.cshtml")


<!-- QUICKVIEW PRODUCT -->
<div id="quickview-wrapper">
    <!-- Modal -->
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div>
    <!-- END Modal -->
</div>

<!-- END QUICKVIEW PRODUCT -->
@section scripts {
    @* The normal bootstrap behavior is to only grab the content for the modal once, if you need to pull in different partial views then the data on the modal will have to be cleared.*@
    <script type="text/javascript">
        $(function () {

            // boostrap 4 load modal example from docs
            $('#productModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var url = button.attr("href");
                var modal = $(this);

                // note that this will replace the content of modal-content ever time the modal is opened
                modal.find('.modal-content').load(url);
            });
        });
    </script>
}