@{ 
    var collections = Common.GetAttributes(0);
    var colors      = Common.GetAttributes(1);
    var style       = Common.GetAttributes(2);
    var season      = Common.GetAttributes(3);
    var brands      = Common.GetAttributes(4);
    var divisions   = Common.GetAttributes(5);
}

    <aside class="widget widget-categories  mb-30">
    <div class="widget-title">
        <h4>Categories</h4>
    </div>
    <div id="cat-treeview" class="widget-info product-cat boxscrol2">
        <ul>
            <li>
                <span>Furniture</span>
                <ul>
                    @foreach (var item in divisions)
                    {
                        <li><a asp-controller="Products" asp-action="CategoryWidget" asp-route-Category="@item.ToString()">@item.ToString()</a></li>
                    }
                </ul>
            </li>
            <li>
                <span>Style</span>
                <ul>
                    @foreach (var item in style)
                    {
                        <li><a asp-controller="Products" asp-action="WidgetFilter" asp-route-style="@item.ToString()">@item.ToString()</a></li>
                    }
                </ul>
            </li>
            <li>
                <span>Collection</span>
                <ul>
                    @foreach (var item in collections)
                    {
                        <li><a asp-controller="Products" asp-action="CollectionWidget" asp-route-Collection="@item.ToString()">@item.ToString()</a></li>
                    }
                </ul>
            </li>
            <li>
                <span>Top Brands</span>
                <ul>
                    @foreach (var item in brands)
                    {
                        <li><a asp-controller="Products" asp-action="BrandWidget" asp-route-Brands="@item.ToString()">@item.ToString()</a></li>
                    }
                </ul>
            </li>
            <li>
                <span>Season</span>
                <ul>
                    @foreach (var item in season)
                    {
                        <li><a asp-controller="Products" asp-action="WidgetFilter" asp-route-season="@item.ToString()">@item.ToString()</a></li>
                    }
                </ul>
            </li>
        </ul>
    </div>
</aside>