@model ArthausWebStore.Models.ItemAttributes

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ItemAttributes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SearchDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SearchDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AlternativeItemNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AlternativeItemNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Blocked)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Blocked)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CountryRegionOfOriginCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CountryRegionOfOriginCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reserve)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reserve)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SalesUnitOfMeasure)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalesUnitOfMeasure)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PurchUnitOfMeasure)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PurchUnitOfMeasure)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemCategoryCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemCategoryCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Assembled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Assembled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RangeCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RangeCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CollectionYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CollectionYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RangeStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RangeStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DivisionCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DivisionCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeasonCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeasonCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Collection)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Collection)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Style)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Style)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemFamilyCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemFamilyCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Featured)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Featured)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MostViewed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MostViewed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BestSeller)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BestSeller)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.No">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
