@model IEnumerable<ArthausWebStore.Models.ItemAttributes>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SearchDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlternativeItemNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blocked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryRegionOfOriginCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reserve)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesUnitOfMeasure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchUnitOfMeasure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemCategoryCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assembled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RangeCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollectionYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RangeStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DivisionCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeasonCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Collection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Style)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemFamilyCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Featured)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MostViewed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BestSeller)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SearchDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlternativeItemNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Blocked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryRegionOfOriginCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reserve)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesUnitOfMeasure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchUnitOfMeasure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemCategoryCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assembled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RangeCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CollectionYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RangeStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DivisionCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeasonCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Collection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Style)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemFamilyCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Featured)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MostViewed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BestSeller)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.No">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.No">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.No">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
