@model PagedResult<ItemAttributes>
@using ArthausWebStore.Models.PageHelpers
@{
    var urlTemplate = Url.Action() +"?";


    if (!String.IsNullOrWhiteSpace(ViewBag.SubCategory))
    {
        urlTemplate = urlTemplate + "subCategory=" + ViewBag.CurrentFilter + "&";

    }

    if (!String.IsNullOrWhiteSpace(ViewBag.TopBrands))
    {
        urlTemplate = urlTemplate + "topBrands=" + ViewBag.TopBrands + "&";
    }

    if (!String.IsNullOrWhiteSpace(ViewBag.Accessories))
    {
        urlTemplate = urlTemplate + "accessories=" + ViewBag.Accessories + "&";

    }


    if (!String.IsNullOrWhiteSpace(ViewBag.CurrentFilter))
    {
        urlTemplate = urlTemplate  + "searchString=" + ViewBag.CurrentFilter + "&";

    }
    if (!String.IsNullOrWhiteSpace(ViewBag.PriceRange))
    {
        urlTemplate = urlTemplate + "priceRange="+ ViewBag.PriceRange + "&";
    }

    if (!String.IsNullOrWhiteSpace(ViewBag.ColorFilter))
    {
        urlTemplate = urlTemplate + "colorFilter=" + ViewBag.ColorFilter + "&";
    }

    if (!String.IsNullOrWhiteSpace(ViewBag.Brand))
    {
        urlTemplate = urlTemplate + "Brand=" + ViewBag.Brand + "&";
    }

    if (!String.IsNullOrWhiteSpace(ViewBag.Season))
    {
        urlTemplate = urlTemplate + "season=" + ViewBag.Season + "&";
    }

    if (!String.IsNullOrWhiteSpace(ViewBag.Collection))
    {
        urlTemplate = urlTemplate + "season=" + ViewBag.Collection + "&";
    }

    if (!String.IsNullOrWhiteSpace(ViewBag.Style))
    {
        urlTemplate = urlTemplate + "style=" + ViewBag.Style + "&";
    }

    if (!String.IsNullOrWhiteSpace(ViewBag.Category))
    {
        urlTemplate = urlTemplate + "priceRange=" + ViewBag.Category + "&";
    }

    urlTemplate  += "page={0}";

    var request = ViewContext.HttpContext.Request;
    foreach (var key in request.Query.Keys)
    {
        if (key == "page")
        {
            continue;
        }

        urlTemplate += "&" + key + "=" + request.Query[key];
    }
    var startIndex = Math.Max(Model.CurrentPage - 5, 1);
    var finishIndex = Math.Min(Model.CurrentPage + 5, Model.PageCount);
}
<!-- HEADING-BANNER START -->
<div class="heading-banner-area overlay-bg" src="~/img/bg/1.jpg" alt="asp-append-version=" true"">
    <a asp-controller="Home" asp-action="Index"></a>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-banner">
                    <div class="heading-banner-title">
                        <h2>Arthaus - Product Catalog</h2>
                    </div>
                    <div class="breadcumbs pb-15">
                        <ul>
                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-controller="Products" asp-action="Index">Catalog</a></li>
                            @Html.Raw(@ViewBag.Breadcrumbs)
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- HEADING-BANNER END -->
<!-- PRODUCT-AREA START -->
<div class="product-area pt-80 pb-80 product-style-2">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <!-- Widget-Search start -->
                <aside class="widget widget-search mb-30">
                    @using (Html.BeginForm("Index", "Products", System.Web.Mvc.FormMethod.Post))
                    {
                        <form action="#">
                            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { placeholder = "Search here.." })
                            <input type="text" />
                            <button type="submit">
                                <i class="zmdi zmdi-search"></i>
                            </button>
                        </form>
                    }
                </aside>
                <!-- Widget-search end -->
                <!-- Widget-Categories start -->
                @await Html.PartialAsync("../Shared/Filters/FilterWidget.cshtml");
                <!-- Widget-categories end -->
                <!-- Shop-Filter start -->
                <aside class="widget shop-filter mb-30">
                    <div class="widget-title">
                        <h4>Price</h4>
                    </div>
                    <div class="widget-info">
                        @using (Html.BeginForm("Index", "Products", System.Web.Mvc.FormMethod.Post))
                        {
                            <div class="price_filter">
                                <div class="price_slider_amount">
                                    @Html.TextBox("priceRange", ViewBag.PriceRange as string,
                                   new { type = "text", id = "amount", name = "price", placeholder = "Add Your Price" })
                                    <div id="slider-range"></div>
                                </div>
                            </div>
                            <button type="submit" class="button-one zmdi-font text-center" data-text="search">
                                search
                            </button>
                        }
                    </div>
                </aside>
                <!-- Shop-Filter end -->
                <!-- Widget-Color start -->
                @await Html.PartialAsync("../Shared/Filters/ColorsWidget.cshtml")
                <!-- Widget-Color end -->
                <!-- Widget-banner start -->
                @await Html.PartialAsync("../Shared/NotFound.cshtml")
                <!-- Widget-banner end -->
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12">
                <!-- Shop-Content End -->
                <div class="shop-content mt-tab-30 mt-xs-30">
                    <div class="product-option mb-30 clearfix">
                        <!-- Nav tabs -->
                        <ul class="shop-tab">
                            <li class="active"><a href="#grid-view" data-toggle="tab"><i class="zmdi zmdi-view-module"></i></a></li>
                            <li><a href="#list-view" data-toggle="tab"><i class="zmdi zmdi-view-list"></i></a></li>
                        </ul>
                        <div class="showing text-right hidden-xs">
                            <p class="mb-0">Showing  @Model.FirstRowOnPage  -   @Model.LastRowOnPage  of  @Model.RowCount  Results</p>
                        </div>
                    </div>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="grid-view">
                            <div class="row">
                                @foreach (var product in Model.Results)
                                {
                                    <!-- Single-product start -->
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="single-product">
                                            <div class="product-img">
                                                @{
                                                    var OnSale = await Common.ShowDiscounted(product.No);
                                                    if (!OnSale)
                                                    {
                                                        <span class="pro-label sale-label">Sale</span>
                                                    }
                                                    var appliedPrice = await Common.ReturnAppliedPrice(product.No);
                                                }
                                                <span class="pro-price-2">@appliedPrice</span>
                                                <a href="single-product.html"><img src="@Common.ReturnPicture(product.No,PictureSizes.Thumbnail)" alt="" /></a>
                                            </div>
                                            <div class="product-info clearfix text-center">
                                                <div class="fix">
                                                    <h4 class="post-title"><a href="#">@product.Description2</a></h4>
                                                </div>
                                                <div class="fix">
                                                    <span class="pro-rating">
                                                        <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                        <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                        <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                        <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                                        <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                                    </span>
                                                </div>
                                                <div class="product-action clearfix">
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a>
                                                    <a asp-controller="Home" asp-action="QuickView" asp-route-ItemSKU=@product.No data-target="#productModal" data-toggle="modal" title="Quick View"><i class="zmdi zmdi-zoom-in"></i></a>
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single-product end -->
                                }
                            </div>
                        </div>
                        <div class="tab-pane" id="list-view">
                            <div class="row shop-list">
                                @foreach (var product in Model.Results)
                                {
                                    <!-- Single-product start -->
                                    <div class="col-lg-12">
                                        <div class="single-product clearfix">
                                            <div class="product-img">
                                                @{
                                                    var OnSale = await Common.ShowDiscounted(product.No);
                                                    if (!OnSale)
                                                    {
                                                        <span class="pro-label sale-label">Sale</span>
                                                    }
                                                    var appliedPrice = await Common.ReturnAppliedPrice(product.No);
                                                }
                                                <span class="pro-price-2">@appliedPrice</span>
                                                <a href="single-product.html"><img src="@Common.ReturnPicture(product.No,PictureSizes.Thumbnail)" alt="" /></a>
                                            </div>
                                            <div class="product-info">
                                                <div class="fix">
                                                    <h4 class="post-title floatleft"><a href="#">@product.Description</a></h4>
                                                    <span class="pro-rating floatright">
                                                        <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                        <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                        <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                        <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                                        <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                                    </span>
                                                </div>
                                                <div class="fix mb-20">
                                                    <span class="pro-price">@appliedPrice</span>
                                                </div>
                                                <div class="product-description">
                                                    <p>@String.Format("{0} {1}, by {2}. Style: {3}", product.SeasonCode, product.CollectionYear, product.Collection, product.Style)</p>
                                                </div>
                                                <div class="clearfix">
                                                    <div class="cart-plus-minus">
                                                        <input type="text" value="02" name="qtybutton" class="cart-plus-minus-box">
                                                    </div>
                                                    <div class="product-action clearfix">
                                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a>
                                                        <a asp-controller="Home" asp-action="QuickView" asp-route-ItemSKU=@product.No data-target="#productModal" data-toggle="modal" title="Quick View"><i class="zmdi zmdi-zoom-in"></i></a>
                                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single-product end -->
                                }
                            </div>
                        </div>
                    </div>

                    <!-- Pagination start -->
                    <div class="shop-pagination  text-center">
                        <div class="pagination">
                            <ul>
                                @if (Model.PageCount > 1)
                                {

                                    <li><a href="@urlTemplate.Replace("{0}", "1")"><i class="zmdi zmdi-long-arrow-left"></i></a></li>
                                    @for (var i = startIndex; i <= finishIndex; i++)
                                    {
                                        @if (i == Model.CurrentPage)
                                        {
                                            <li class="active"><a href="#">@i</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="@urlTemplate.Replace("{0}", i.ToString())">@i</a></li>
                                        }
                                    }
                                    <li><a href="@urlTemplate.Replace("{0}", Model.PageCount.ToString())"><i class="zmdi zmdi-long-arrow-right"></i></a></li>

                                }
                            </ul>
                        </div>
                    </div>
                    <!-- Pagination end -->
                </div>
                <!-- Shop-Content End -->
            </div>
        </div>
    </div>
</div>
@(await Component.InvokeAsync<PagerViewComponent>(Model))
<!-- PRODUCT-AREA END -->
<!-- QUICKVIEW PRODUCT -->
<div id="quickview-wrapper">
    <!-- Modal -->
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div>
    <!-- END Modal -->
</div>
<!-- END QUICKVIEW PRODUCT -->
@section scripts {
    @* The normal bootstrap behavior is to only grab the content for the modal once, if you need to pull in different partial views then the data on the modal will have to be cleared.*@
    <script type="text/javascript">
        $(function () {
            // boostrap 4 load modal example from docs
            $('#productModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                url = button.attr("href");
                var modal = $(this);
                // note that this will replace the content of modal-content ever time the modal is opened
                modal.find('.modal-content').load(url);
            });
        });
    </script>

}